#
# This is the Template file for joining 
# #openttdcoop DevServer
#
SERVER="openttdcoop.org"
PORT="3982"
# Possible values: <PWKEY>,"a password",<empty>
SPASSWORD=""
CPASSWORD=""
# if SPASSWORD="<PWKEY>", we need the KEY to the password file
PWKEY="ask.members"
# Possible OSes: linux-amd64,linux-i686,macosx-intel,macosx-powerpc,morphos,sunos-i386,win9x,win32
OS="linux-i686"
# Possible types: svn,nightly,self (not empty)
TYPE="svn"
