#
# This is Template file for joining #openttdcoop MemberZone
#
SERVER="mz.openttdcoop.org"
PORT="3980"
CPASSWORD=""
# Possible OSes: linux-amd64,linux-i686,macosx-intel,macosx-powerpc,morphos,sunos-i386,win9x,win32
OS="linux-i686"
# Possible types: svn,nightly (not empty)
TYPE="nightly"
