#
# This is the Template file for joining
# dih's AutoNightly Server
#
SERVER="212.126.210.121"
PORT="3979"
COMPANY="255"
REVURL="http://pub.dihedral.de/openttd/savegames/rev"
# Possible values: <PWKEY>,"a password",<empty>
SPASSWORD=""
CPASSWORD=""
# if SPASSWORD="<PWKEY>", we need the KEY to the password file
PWKEY="ask.members"
# Possible OSes: linux-amd64,linux-i686,macosx-intel,macosx-powerpc,morphos,sunos-i386,win9x,win32
OS="linux-i686"
# Possible types: svn,nightly (not empty)
TYPE="nightly"
# Additional arguments for starting command (example="-d 1")
ADDARGS=""
# Additional arguments for make (example "-j 6")
MAKEARGS=""
# Additional arguments for configure
CONFIGUREARGS=""
