#
# This is the Template file for joining
# #openttdcoop PublicServer
#
SERVER="ps.openttdcoop.org"
PORT="3979"
# Possible values: <PWKEY>,"a password",<empty>
SPASSWORD=""
CPASSWORD=""
# if SPASSWORD="<PWKEY>", we need the KEY to the password file
PWKEY="ask.members"
# Possible OSes: linux-amd64,linux-i686,macosx-intel,macosx-powerpc,morphos,sunos-i386,win9x,win32
OS="linux-i686"
# Possible types: svn,nightly (not empty)
TYPE="nightly"
# if TYPE="svn" and relative to the script
PWPATCH="client_patches.diff"
# Additional arguments for starting command (example="-d 1")
ADDARGS=""
# Additional arguments for make (example "-j 6")
MAKEARGS=""
# Additional arguments for configure
CONFIGUREARGS=""
