# changeable vars:
# default settings are for #openttdcoop PublicServer with Linux
# you should alter the external conf file, those values here will
# be overwritten with next update
#
SERVER="wwottdgd.openttdcoop.org"
PORT="3979"
# Possible values: <PWKEY>,"a password",<empty>
CPASSWORD=""
# if SPASSWORD="<PWKEY>", we need the KEY to the password file
PWKEY=""
# Possible OSes: linux-amd64,linux-i686,macosx-intel,macosx-powerpc,morphos,sunos-i386,win9x,win32
OS="linux-i686"
# Possible types: svn,nightly (not empty)
TYPE="svn"
# if TYPE="svn" and relative to the script 
# TODO: with nightly source
PWPATCH="pw_arguments.diff"
